---
layout: default
title: Home
---
<header class="intro text-center" id="hero">
    <div class="content">
        <h1 class="wow fadeInUp" data-wow-delay= ".3s"><span>SADE</span> <span>SMITH</span></h1>
        <h4 class="wow fadeInUp" data-wow-delay= ".2s">Software Engineer <br>from Chicago</h4>
        <a href="#portfolio" class="btn btn-action wow fadeInUp" data-wow-delay= ".4s">See Portfolio</a>
    </div>
</header>
<main>
    <section class="blog">
        <div class="container">
            <div class="blog-intro">
                <h2 class="wow fadeInUp" data-wow-delay= ".1s">Latest Blog Posts</h2>
                <p class="wow fadeInUp" data-wow-delay= ".2s">
                    The most recent posts from my blog.
                </p>
            </div>
        </div>
        <div class="container blog-reel">
            <div class="row" id="blog__container__home">
                {% for post in site.posts limit:2 %}
                    {% include article.html %}
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="portfolio-intro">
                <h2 class="wow fadeInUp" data-wow-delay= ".1s">Featured Projects</h2>
                <p class="wow fadeInUp" data-wow-delay= ".2s">
                    Hand-picked collection of my some of my latest projects.
                </p>
                <ul class="portfolio-filter wow fadeInUp" data-wow-delay= ".3s">
                    <li><a href="Javascript:void(0)" data-filter="*">All</a></li>
                    <li><a href="Javascript:void(0)" data-filter=".web">Web</a></li>
                    <li><a href="Javascript:void(0)" data-filter=".native">Native</a></li>
                    <li><a href="Javascript:void(0)" data-filter=".alexa">Alexa</a></li>
                </ul>
            </div>

            <div class="portfolio-grid">
                <div class="col-md-12">
                    <div class="row portfolio-container nopadding text-center">
                        {% assign projects = site.portfolio | where:'featured', true %}
                        {% for project in projects %}
                        <div class="col-md-4 col-sm-6 nopadding{% if project.categories %}{% for cat in project.categories %} {{ cat.name }}{% endfor %}{% endif %}">
                            <a href="{{ project.url }}" aria-label="{{ project.name }}" class="portfolio_item  wow fadeInUp" data-wow-delay= ".3s">
                                <img src="{{site.url}}/assets/dist/images/thumbnails/{{ project.img_id }}.jpg" alt="image" class="img-responsive" />
                                <div class="portfolio-overlay">
                                    <div class="overlay-items">
                                        <h3>{{ project.name }}</h3>
                                        <p>{{ project.type }}</p>
                                    </div>
                                </div>
                            </a>

                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section><!-- Portfolio End -->
    {% include pitch.html %}
</main><!-- Main -->

