<article class="col-sm-6 col-md-6 post wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
    <h3>{{ post.title }}</h3>
    <div class="meta">
        {% assign category = post.categories | first %}
        <span><a href="{{ site.url }}/blog/category/{{ category | slugify }}"class="meta-category">{{ category }}</a></span>
        <span>{{ post.date | date: "%B %d, %Y" }}</span>
    </div>
    <p>{{ post.excerpt }}</p>
    <a class="btn-action" href="{{ site.url }}{{ post.url }}/">Read More</a>
</article>