<aside class="alert alert-warning alert-dismissible gdpr" id="cookie-content" role="alert" style="display: none">
    <div class="container">
        <div class="col-sm-8 col-md-9 col-lg-9">
            <p>This site uses cookies to analyze site traffic and give you the best online experience. By using this website, you consent to the use of cookies. For more information, see the <a href="{{site.url}}/policies/cookies">Cookie Policy</a>.</p>
        </div>
        <div class="col-sm-4 col-md-3 col-lg-3">
            <button data-dismiss="alert" aria-label="Accept" id="accept-cookies" class="btn btn-primary">Accept</button>
        </div>
    </div>
</aside>