<!DOCTYPE html>
<html lang="en" class="no-focus-outline">
<head lang="en">
    <meta charset="UTF-8">
    <meta name="referrer" content="no-referrer" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#555555">
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:description" content="Software Developer, with 5 years of experience, currently working in the Chicagoland area, specializing in web technologies and skilled in both back-end and front-end development.">
    <meta property="og:image:width" content="1052">
    <meta property="og:image:height" content="551">
    <meta property="og:title" content="Sade Smith">
    <meta property="og:url" content="https://sadesmith.com">
    <meta property="og:image" content="https://sadesmith.com/assets/images/og-image.jpg">
    <title>{{ page.title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="assets/dist/css/animate.min.css">
    <link rel="stylesheet" type="text/css" href="assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/dist/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="assets/dist/css/style.min.css">
</head>
<body>
<div id="loading"></div>