<div class="wrapper">
    <div id="side-menu">
        <div class="menu-container">
            <div id="nav-trigger" class="nav-trigger" aria-pressed="true" aria-label="Toggle menu" tabindex="0" aria-expanded="false" role="button" title="hamburger menu">
                <div class="hamburger">
                    <div class="icon"></div>
                </div>
            </div>
        </div>
        <a class="logo hidden-xs" id="desktop-home" aria-label="Home Link" tabindex="0" href="{{site.url}}">Sade &nbspSmith</a>
        <a class="logo text" id="mobile-home" tabindex="-1" aria-label="Home Link" href="{{site.url}}">Sade</a>
    </div>
    <div class="menu has-nav" aria-hidden="true">
        <div class="menu-inner">
            <div class="container">
                <div class="col-md-12 navigation-container">
                    <nav class="navigation" aria-label="Main Menu">
                        <span>navigation</span>
                        <ul role="menu">
                            <li><a href="{{site.url}}" tabindex="-1" aria-current="page" role="menuitem">Home</a></li>
                            <li><a href="{{site.url}}/about" tabindex="-1" role="menuitem">About</a></li>
                            <li><a href="{{site.url}}/blog" tabindex="-1" role="menuitem">Blog</a></li>
                            <li><a href="{{site.url}}#portfolio" tabindex="-1" role="menuitem" class="internal">Projects</a></li>
                        </ul>
                    </nav>
                </div>

                <div class="footer">
                    <div class="container">
                        <div class="col-md-7 col-xs-7 nopadding social">
                            <ul>
                                <li><a tabindex="0" rel="noreferrer" href="https://github.com/smithsa" target="_blank">Github</a></li>
                                <li><a tabindex="0" rel="noreferrer" href="https://twitter.com/itsSadeSmith" target="_blank">Twitter</a></li>
                                <li><a tabindex="0" rel="noreferrer" href="https://www.linkedin.com/in/sad-e-smith-58709160/" target="_blank">Linkedin</a></li>
                            </ul>
                        </div>
                        <div class="col-md-5 col-xs-5 nopadding">
                            <div class="address">
                                <p><span>{{ site.title }},</span><br class="hidden-xs"> Chicago, Illinois, USA</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="main">