---
layout: page
title: Blog
---
<main class="main">
    <section class="blog blog-page">
        <div class="container">
            <div class="blog-intro">
                <h1 class="wow fadeInUp" data-wow-delay= ".1s">Latest Blog Posts</h1>
                <p class="wow fadeInUp" data-wow-delay= ".1s">Entire collection of posts from my personal blog. </p>
            </div>
            <div class="blog-reel container-fluid">
                <div class="row">
                    <!-- This loops through the paginated posts -->
                    {% for post in paginator.posts %}
                        {% include article.html %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="blog-button text-center">
            <p class="pagination-indicator">Showing {{paginator.page}} of {{paginator.total_pages}} pages</p>
            {% if paginator.total_pages > 1 %}
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    {% if paginator.previous_page %}
                    <li class="page-item">
                        <a class="page-link jump" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
                    </li>
                    {% else %}
                    <li class="page-item jump disabled"><a class="page-link" href="#">&laquo; Previous</a></li>
                    {% endif %}

                    {% for page in (1..paginator.total_pages) %}
                    {% if page == paginator.page %}
                    <li class="page-item active"><a class="page-link" href="Javascript:void(0)">{{ page }}</a></li>
                    {% elsif page == 1 %}
                    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if paginator.next_page %}
                    <li class="page-item jump">
                        <a class="page-link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
                    </li>
                    {% else %}
                    <li class="page-item jump disabled"><a class="page-link" href="#">Next &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
            {% endif %}
        </div>
    </section><!-- Blog End -->
</main><!-- Main -->

