{% include header-post.html %}
{% include navigation.html %}
<a class="back-home hidden-xs" aria-label="back" href="{{site.url}}/blog" ><i class="ion-android-arrow-back"></i></a>
<div class="project">
    <div class="container">
        <div class="project-intro blog-body">
            <header class="col-lg-10 col-md-9 col-sm-8 col-md-offset-1 col-lg-offset-1">
                <h1 class="wow fadeIn" data-wow-delay= ".1s" data-wow-duration= "2s">{{page.title}}</h1>
                <div class="meta wow fadeIn" data-wow-delay= ".2s" data-wow-duration= "2s">
                    <span><i class="ion-person"></i> {{ site.title }}</span>
                    {% assign category = page.categories | first %}
                    <span><a href="{{ site.url }}/blog/category/{{ category | slugify }}" class="meta-category"><i class="ion-bookmark"></i> {{ category }}</a></span>
                    <span><i class="ion-calendar"></i> <date>{{ page.date | date: "%B %d, %Y" }}</date></span>
                </div>
                <div id="social-share" class="wow fadeIn" data-wow-delay= ".3s" data-wow-duration= "2s">
                    <a class="sshare" data-sshare="facebook" href="Javascript:void(0)">Share on Facebook</a>
                    <a class="sshare" data-sshare="twitter" data-twitter-message="Take a look at this blog post!" href="Javascript:void(0)">Share on Twitter</a>
                    <a class="sshare" data-sshare="email" data-email-subject="Blog Post by Sade Smith" href="Javascript:void(0)">Share By Email</a>
                </div>
            </header>
            <main class="col-lg-9 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-xs-12 blog-content wow fadeInUp" data-wow-duration= "2s" data-wow-delay= ".6s">
                <div class="details">
                    {{ content }}
                    <div id="tags">
                        {% for tag in page.tags %}
                            <a href="{{ site.url }}/blog/tag#{{ tag | slugify }}">#{{tag}}</a>
                        {% endfor %}
                    </div>
                </div>
            </main>
        </div>
    </div>
 </div>


{% include footer-post.html %}